<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gy.life.mapper.ProductOrderMapper">

    <resultMap id="OrderProductMap" type="com.gy.life.model.order.ProductOrderDetail">
        <id column="order_id" jdbcType="INTEGER" property="orderId"/>
        <id column="order_number" jdbcType="VARCHAR" property="orderNumber"/>
        <result column="order_time" jdbcType="TIMESTAMP" property="orderTime"/>
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="total_price" jdbcType="DECIMAL" property="totalPrice"/>
        <result column="order_status" jdbcType="INTEGER" property="orderStatus"/>
        <result column="leave_message" jdbcType="VARCHAR" property="leaveMessage"/>
        <collection property="orderProductItemDetailList" ofType="com.gy.life.model.order.OrderProductItemDetail"
                    column="order_id">
            <id column="product_order_id" jdbcType="INTEGER" property="productOrderId"/>
            <result column="order_id" jdbcType="INTEGER" property="orderId"/>
            <result column="product_id" jdbcType="INTEGER" property="productId"/>
            <result column="buy_count" jdbcType="DECIMAL" property="buyCount"/>
            <result column="single_total_price" jdbcType="DECIMAL" property="singleTotalPrice"/>
            <association property="productDetail" javaType="com.gy.life.model.ProductDetail" column="product_id">
                <id column="product_id" jdbcType="INTEGER" property="productId"/>
                <result column="merchant_id" jdbcType="INTEGER" property="merchantId"/>
                <result column="image_url" jdbcType="INTEGER" property="imageUrl"/>
                <result column="category_id" jdbcType="INTEGER" property="categoryId"/>
                <result column="category_name" jdbcType="VARCHAR" property="categoryName"/>
                <result column="product_name" jdbcType="VARCHAR" property="productName"/>
                <result column="product_desc" jdbcType="VARCHAR" property="productDesc"/>
                <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
                <result column="max_count" jdbcType="INTEGER" property="maxCount"/>
                <result column="unit" jdbcType="VARCHAR" property="unit"/>
                <result column="product_finish_time" jdbcType="TIMESTAMP" property="productFinishTime"/>
                <result column="delivery_time" jdbcType="TIMESTAMP" property="deliveryTime"/>
                <result column="pick_address" jdbcType="VARCHAR" property="pickAddress"/>
                <result column="delivery_type" jdbcType="INTEGER" property="deliveryType"/>
                <result column="attention" jdbcType="VARCHAR" property="attention"/>
                <result column="delivery_money" jdbcType="DECIMAL" property="deliveryMoney"/>
                <result column="sell_out_count" jdbcType="INTEGER" property="sellOutCount"/>
                <result column="product_price" jdbcType="DECIMAL" property="productPrice"/>
                <result column="market_price" jdbcType="DECIMAL" property="marketPrice"/>
                <result column="publish_phone" jdbcType="VARCHAR" property="publishPhone"/>
            </association>
        </collection>
    </resultMap>


    <select id="selectOrderProductList" resultMap="OrderProductMap">
    select po.*,opi.*,pd.* from product_order po  LEFT JOIN  order_product_item  opi on po.order_id=opi.order_id
    LEFT  JOIN  product_detail pd on opi.product_id=pd.product_id where po.user_id=#{userId} and po.order_status=#{orderStatus}
  </select>


    <resultMap id="ReserveOrderDetailResultMap" type="com.gy.life.model.ReserveOrderDetail">
        <association property="productOrder" javaType="com.gy.life.model.ProductOrder">
            <id column="order_id" jdbcType="INTEGER" property="orderId"/>
            <id column="address_id" jdbcType="INTEGER" property="addressId"/>
            <id column="merchant_id" jdbcType="INTEGER" property="merchantId"/>
            <id column="order_number" jdbcType="VARCHAR" property="orderNumber"/>
            <result column="order_time" jdbcType="TIMESTAMP" property="orderTime"/>
            <result column="user_id" jdbcType="INTEGER" property="userId"/>
            <result column="total_price" jdbcType="DECIMAL" property="totalPrice"/>
            <result column="total_count" jdbcType="INTEGER" property="totalCount"/>
            <result column="order_status" jdbcType="INTEGER" property="orderStatus"/>
            <result column="leave_message" jdbcType="VARCHAR" property="leaveMessage"/>
            <result column="pay_status" jdbcType="INTEGER" property="parStatus"/>
            <result column="express_delivery_company" jdbcType="VARCHAR" property="expressDeliveryCompany"/>
            <result column="order_delivery_status" jdbcType="INTEGER" property="orderDeliveryStatus"/>
            <result column="delivery_number" jdbcType="VARCHAR" property="deliveryNumber"/>
        </association>
        <association property="productDetail" javaType="com.gy.life.model.ProductDetail">
            <id column="product_id" jdbcType="INTEGER" property="productId"/>
            <result column="merchant_id" jdbcType="INTEGER" property="merchantId"/>
            <result column="category_id" jdbcType="INTEGER" property="categoryId"/>
            <result column="category_name" jdbcType="VARCHAR" property="categoryName"/>
            <result column="image_url" jdbcType="VARCHAR" property="imageUrl"/>
            <result column="product_name" jdbcType="VARCHAR" property="productName"/>
            <result column="product_desc" jdbcType="VARCHAR" property="productDesc"/>
            <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
            <result column="max_count" jdbcType="INTEGER" property="maxCount"/>
            <result column="unit" jdbcType="VARCHAR" property="unit"/>
            <result column="product_finish_time" jdbcType="TIMESTAMP" property="productFinishTime"/>
            <result column="delivery_time" jdbcType="TIMESTAMP" property="deliveryTime"/>
            <result column="pick_address" jdbcType="VARCHAR" property="pickAddress"/>
            <result column="delivery_type" jdbcType="INTEGER" property="deliveryType"/>
            <result column="attention" jdbcType="VARCHAR" property="attention"/>
            <result column="delivery_money" jdbcType="DECIMAL" property="deliveryMoney"/>
            <result column="sell_out_count" jdbcType="INTEGER" property="sellOutCount"/>
            <result column="product_price" jdbcType="DECIMAL" property="productPrice"/>
            <result column="market_price" jdbcType="DECIMAL" property="marketPrice"/>
            <result column="publish_phone" jdbcType="VARCHAR" property="publishPhone"/>
        </association>
    </resultMap>
    <select id="selectDetailList" parameterType="java.lang.Integer" resultMap="ReserveOrderDetailResultMap">
        SELECT reserve_order.*,reserve_good.* from reserve_order LEFT JOIN reserve_good ON
        reserve_order.reserve_id=reserve_good.reserve_id where
        <if test="reserveId>0">
            reserve_order.reserve_id=#{reserveId}
        </if>
    </select>

    <resultMap id="OrderProductUserDetail" type="com.gy.life.model.order.ProductOrderUserDetail">
        <association property="productOrder" javaType="com.gy.life.model.ProductOrder">
            <id column="order_id" jdbcType="INTEGER" property="orderId"/>
            <id column="address_id" jdbcType="INTEGER" property="addressId"/>
            <id column="order_number" jdbcType="VARCHAR" property="orderNumber"/>
            <result column="order_time" jdbcType="TIMESTAMP" property="orderTime"/>
            <result column="user_id" jdbcType="INTEGER" property="userId"/>
            <result column="total_price" jdbcType="DECIMAL" property="totalPrice"/>
            <result column="total_count" jdbcType="INTEGER" property="totalCount"/>
            <result column="order_status" jdbcType="INTEGER" property="orderStatus"/>
            <result column="leave_message" jdbcType="VARCHAR" property="leaveMessage"/>
        </association>
        <association property="address" javaType="com.gy.life.model.Address">
            <id column="address_id" jdbcType="INTEGER" property="addressId"/>
            <result column="user_name" jdbcType="VARCHAR" property="userName"/>
            <result column="phone_number" jdbcType="VARCHAR" property="phoneNumber"/>
            <result column="province_id" jdbcType="INTEGER" property="provinceId"/>
            <result column="province" jdbcType="VARCHAR" property="province"/>
            <result column="city_id" jdbcType="INTEGER" property="cityId"/>
            <result column="city" jdbcType="VARCHAR" property="city"/>
            <result column="area_id" jdbcType="INTEGER" property="areaId"/>
            <result column="area" jdbcType="VARCHAR" property="area"/>
            <result column="community_id" jdbcType="INTEGER" property="communityId"/>
            <result column="community_name" jdbcType="VARCHAR" property="communityName"/>
            <result column="define_address" jdbcType="VARCHAR" property="defineAddress"/>
            <result column="is_default" jdbcType="VARCHAR" property="isDefault"/>
        </association>
        <collection property="orderProductItemDetailList" ofType="com.gy.life.model.order.OrderProductItemDetail"
                    column="order_id">
            <id column="product_order_id" jdbcType="INTEGER" property="productOrderId"/>
            <result column="order_id" jdbcType="INTEGER" property="orderId"/>
            <result column="product_id" jdbcType="INTEGER" property="productId"/>
            <result column="buy_count" jdbcType="DECIMAL" property="buyCount"/>
            <result column="single_total_price" jdbcType="DECIMAL" property="singleTotalPrice"/>
            <association property="productDetail" javaType="com.gy.life.model.ProductDetail" column="product_id">
                <id column="product_id" jdbcType="INTEGER" property="productId"/>
                <result column="merchant_id" jdbcType="INTEGER" property="merchantId"/>
                <result column="image_url" jdbcType="INTEGER" property="imageUrl"/>
                <result column="category_id" jdbcType="INTEGER" property="categoryId"/>
                <result column="category_name" jdbcType="VARCHAR" property="categoryName"/>
                <result column="product_name" jdbcType="VARCHAR" property="productName"/>
                <result column="product_desc" jdbcType="VARCHAR" property="productDesc"/>
                <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
                <result column="max_count" jdbcType="INTEGER" property="maxCount"/>
                <result column="unit" jdbcType="VARCHAR" property="unit"/>
                <result column="product_finish_time" jdbcType="TIMESTAMP" property="productFinishTime"/>
                <result column="delivery_time" jdbcType="TIMESTAMP" property="deliveryTime"/>
                <result column="pick_address" jdbcType="VARCHAR" property="pickAddress"/>
                <result column="delivery_type" jdbcType="INTEGER" property="deliveryType"/>
                <result column="attention" jdbcType="VARCHAR" property="attention"/>
                <result column="delivery_money" jdbcType="DECIMAL" property="deliveryMoney"/>
                <result column="sell_out_count" jdbcType="INTEGER" property="sellOutCount"/>
                <result column="product_price" jdbcType="DECIMAL" property="productPrice"/>
                <result column="market_price" jdbcType="DECIMAL" property="marketPrice"/>
                <result column="publish_phone" jdbcType="VARCHAR" property="publishPhone"/>
            </association>
        </collection>
    </resultMap>
    <select id="selectAllOrderListDetail" resultMap="OrderProductUserDetail">
        SELECT po.*,pd.* ,address.*,opi.* from product_order po LEFT JOIN order_product_item opi ON po.order_id=
        opi.order_id
        LEFT JOIN product_detail pd on opi.product_id and pd.product_id
        LEFT JOIN address address on po.address_id and address.address_id
        where po.order_status=#{orderStatus,jdbcType=INTEGER} group by po.order_id

        <if test="startTime!= null">AND po.order_time <![CDATA[>=]]> #{startTime,jdbcType=TIMESTAMP}</if>
        <if test="endTime!= null">AND po.order_time <![CDATA[<=]]> #{endTime,jdbcType=TIMESTAMP}</if>
    </select>


</mapper>